Nodered/flows_virtualization.json
[
    {
        "id": "d76cb451c54b3cf8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "19386c678f9c59f3",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "65e5d145f9d36750",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.200.20",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": "2",
        "cycletime": "50",
        "timeout": "2000",
        "name": "",
        "vartable": [
            {
                "addr": "I0.0",
                "name": "emergencyStopButton"
            },
            {
                "addr": "I0.1",
                "name": "maintenanceSwitch"
            },
            {
                "addr": "Q0.0",
                "name": "redLight"
            },
            {
                "addr": "Q0.1",
                "name": "greenLight"
            },
            {
                "addr": "Q0.2",
                "name": "yellowLight"
            },
            {
                "addr": "M30.0",
                "name": "Conection_Teste"
            }
        ]
    },
    {
        "id": "8c10c0f6f352cc3f",
        "type": "inject",
        "z": "d76cb451c54b3cf8",
        "name": "start",
        "props": [
            {
                "p": "payload.start",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "4662dbd7c5187001",
                "ae04077d7b644dd3"
            ]
        ]
    },
    {
        "id": "d381d1d4a64d61bd",
        "type": "trigger",
        "z": "d76cb451c54b3cf8",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 380,
        "y": 320,
        "wires": [
            [
                "4662dbd7c5187001",
                "ae04077d7b644dd3"
            ]
        ]
    },
    {
        "id": "5953a59accbb4215",
        "type": "s7 out",
        "z": "d76cb451c54b3cf8",
        "endpoint": "65e5d145f9d36750",
        "variable": "Conection_Teste",
        "name": "",
        "x": 370,
        "y": 40,
        "wires": []
    },
    {
        "id": "bedb09e2fb773d13",
        "type": "inject",
        "z": "d76cb451c54b3cf8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "5953a59accbb4215"
            ]
        ]
    },
    {
        "id": "742b64e412ef6e86",
        "type": "inject",
        "z": "d76cb451c54b3cf8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "5953a59accbb4215"
            ]
        ]
    },
    {
        "id": "bd13eaca73336713",
        "type": "comment",
        "z": "d76cb451c54b3cf8",
        "name": "Lógica de Manutenção",
        "info": "",
        "x": 380,
        "y": 200,
        "wires": []
    },
    {
        "id": "f39915c785e5e41a",
        "type": "trigger",
        "z": "d76cb451c54b3cf8",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 380,
        "y": 460,
        "wires": [
            [
                "73a9474b45cbe3ac",
                "3ca965bb02f8558c"
            ]
        ]
    },
    {
        "id": "d91e3c9ac7aadb46",
        "type": "inject",
        "z": "d76cb451c54b3cf8",
        "name": "start",
        "props": [
            {
                "p": "payload.start",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "f39915c785e5e41a",
                "6719f0a953c4ca05"
            ]
        ]
    },
    {
        "id": "73a9474b45cbe3ac",
        "type": "trigger",
        "z": "d76cb451c54b3cf8",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 380,
        "y": 540,
        "wires": [
            [
                "ee4bb73987ce7409",
                "d887226568af5b80"
            ]
        ]
    },
    {
        "id": "ee4bb73987ce7409",
        "type": "trigger",
        "z": "d76cb451c54b3cf8",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "8",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 380,
        "y": 600,
        "wires": [
            [
                "f39915c785e5e41a",
                "6719f0a953c4ca05"
            ]
        ]
    },
    {
        "id": "e8c83d9e36ef8d27",
        "type": "split",
        "z": "19386c678f9c59f3",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 350,
        "y": 100,
        "wires": [
            [
                "cf9b159ccca9e841"
            ]
        ]
    },
    {
        "id": "cf9b159ccca9e841",
        "type": "switch",
        "z": "19386c678f9c59f3",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "redLight",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "greenLight",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "yellowLight",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 490,
        "y": 100,
        "wires": [
            [
                "ebcba23374ce6881"
            ],
            [
                "dc10fe738814c40a"
            ],
            [
                "1314983fe6a82490"
            ]
        ]
    },
    {
        "id": "ebcba23374ce6881",
        "type": "s7 out",
        "z": "19386c678f9c59f3",
        "endpoint": "65e5d145f9d36750",
        "variable": "redLight",
        "name": "",
        "x": 660,
        "y": 40,
        "wires": []
    },
    {
        "id": "dc10fe738814c40a",
        "type": "s7 out",
        "z": "19386c678f9c59f3",
        "endpoint": "65e5d145f9d36750",
        "variable": "greenLight",
        "name": "",
        "x": 670,
        "y": 100,
        "wires": []
    },
    {
        "id": "1314983fe6a82490",
        "type": "s7 out",
        "z": "19386c678f9c59f3",
        "endpoint": "65e5d145f9d36750",
        "variable": "yellowLight",
        "name": "",
        "x": 670,
        "y": 160,
        "wires": []
    },
    {
        "id": "72c74176e8f4e875",
        "type": "change",
        "z": "19386c678f9c59f3",
        "name": "Yellow",
        "rules": [
            {
                "t": "set",
                "p": "payload.greenLight",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.redLight",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.yellowLight",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "e8c83d9e36ef8d27"
            ]
        ]
    },
    {
        "id": "9ce0f6ba9772e635",
        "type": "change",
        "z": "19386c678f9c59f3",
        "name": "Red",
        "rules": [
            {
                "t": "set",
                "p": "payload.greenLight",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.redLight",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.yellowLight",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 40,
        "wires": [
            [
                "e8c83d9e36ef8d27"
            ]
        ]
    },
    {
        "id": "396c29984ad9fdaf",
        "type": "change",
        "z": "19386c678f9c59f3",
        "name": "Green",
        "rules": [
            {
                "t": "set",
                "p": "payload.greenLight",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.redLight",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.yellowLight",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "e8c83d9e36ef8d27"
            ]
        ]
    },
    {
        "id": "4bdca99a18e3bc34",
        "type": "link in",
        "z": "19386c678f9c59f3",
        "name": "setRed",
        "links": [
            "f912e3cc3d2d2289",
            "3ca965bb02f8558c"
        ],
        "x": 35,
        "y": 40,
        "wires": [
            [
                "9ce0f6ba9772e635"
            ]
        ]
    },
    {
        "id": "471d2d97e4585cba",
        "type": "link in",
        "z": "19386c678f9c59f3",
        "name": "setGreen",
        "links": [
            "15426f526e87934c",
            "ab9f0e4ac3548aca",
            "684ae11a1c877ebf",
            "d887226568af5b80"
        ],
        "x": 35,
        "y": 100,
        "wires": [
            [
                "396c29984ad9fdaf"
            ]
        ]
    },
    {
        "id": "bb7bcc58ed5aec30",
        "type": "link in",
        "z": "19386c678f9c59f3",
        "name": "setYellow",
        "links": [
            "4662dbd7c5187001",
            "6719f0a953c4ca05"
        ],
        "x": 35,
        "y": 160,
        "wires": [
            [
                "72c74176e8f4e875"
            ]
        ]
    },
    {
        "id": "4662dbd7c5187001",
        "type": "link out",
        "z": "d76cb451c54b3cf8",
        "name": "setYellowLight",
        "links": [
            "bb7bcc58ed5aec30"
        ],
        "x": 600,
        "y": 340,
        "wires": [],
        "l": true
    },
    {
        "id": "6719f0a953c4ca05",
        "type": "link out",
        "z": "d76cb451c54b3cf8",
        "name": "setYellowLight",
        "links": [
            "bb7bcc58ed5aec30"
        ],
        "x": 600,
        "y": 620,
        "wires": [],
        "l": true
    },
    {
        "id": "d887226568af5b80",
        "type": "link out",
        "z": "d76cb451c54b3cf8",
        "name": "setGreenLight",
        "links": [
            "471d2d97e4585cba"
        ],
        "x": 600,
        "y": 540,
        "wires": [],
        "l": true
    },
    {
        "id": "3ca965bb02f8558c",
        "type": "link out",
        "z": "d76cb451c54b3cf8",
        "name": "setRedLight",
        "links": [
            "4bdca99a18e3bc34"
        ],
        "x": 590,
        "y": 460,
        "wires": [],
        "l": true
    },
    {
        "id": "dd8b4e2f88dda8f3",
        "type": "change",
        "z": "19386c678f9c59f3",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload.greenLight",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.redLight",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload.yellowLight",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 150,
        "y": 220,
        "wires": [
            [
                "e8c83d9e36ef8d27"
            ]
        ]
    },
    {
        "id": "00c26cd5895da830",
        "type": "link in",
        "z": "19386c678f9c59f3",
        "name": "setNone",
        "links": [
            "27c8a0dec1ed255b",
            "7ef37db9bdf00c0b"
        ],
        "x": 35,
        "y": 220,
        "wires": [
            [
                "dd8b4e2f88dda8f3"
            ]
        ]
    },
    {
        "id": "7ef37db9bdf00c0b",
        "type": "link out",
        "z": "d76cb451c54b3cf8",
        "name": "setLightsOff",
        "links": [
            "00c26cd5895da830"
        ],
        "x": 590,
        "y": 240,
        "wires": [],
        "l": true
    },
    {
        "id": "ae04077d7b644dd3",
        "type": "trigger",
        "z": "d76cb451c54b3cf8",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 380,
        "y": 240,
        "wires": [
            [
                "7ef37db9bdf00c0b",
                "d381d1d4a64d61bd"
            ]
        ]
    },
    {
        "id": "87e21aa3d84f8863",
        "type": "comment",
        "z": "d76cb451c54b3cf8",
        "name": "Lógica de Semáforo",
        "info": "",
        "x": 370,
        "y": 420,
        "wires": []
    },
    {
        "id": "f32c4c05a1c9219f",
        "type": "inject",
        "z": "d76cb451c54b3cf8",
        "name": "Stop Flows",
        "props": [
            {
                "p": "reset",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 740,
        "y": 40,
        "wires": [
            [
                "19051fdaafc6b77e"
            ]
        ]
    },
    {
        "id": "19051fdaafc6b77e",
        "type": "link out",
        "z": "d76cb451c54b3cf8",
        "name": "stopFlows",
        "links": [
            "8eb72041b6e5047d",
            "9710bad92a2afaef"
        ],
        "x": 855,
        "y": 40,
        "wires": []
    },
    {
        "id": "8eb72041b6e5047d",
        "type": "link in",
        "z": "d76cb451c54b3cf8",
        "name": "stopFlow",
        "links": [
            "19051fdaafc6b77e"
        ],
        "x": 120,
        "y": 460,
        "wires": [
            [
                "f39915c785e5e41a",
                "73a9474b45cbe3ac",
                "ee4bb73987ce7409"
            ]
        ],
        "l": true
    },
    {
        "id": "9710bad92a2afaef",
        "type": "link in",
        "z": "d76cb451c54b3cf8",
        "name": "stopFlow",
        "links": [
            "19051fdaafc6b77e"
        ],
        "x": 120,
        "y": 240,
        "wires": [
            [
                "ae04077d7b644dd3",
                "d381d1d4a64d61bd"
            ]
        ],
        "l": true
    },
    {
        "id": "27c8a0dec1ed255b",
        "type": "link out",
        "z": "d76cb451c54b3cf8",
        "name": "setLightsOff",
        "links": [
            "00c26cd5895da830"
        ],
        "x": 855,
        "y": 100,
        "wires": []
    },
    {
        "id": "c19bb7c32a0f45da",
        "type": "inject",
        "z": "d76cb451c54b3cf8",
        "name": "setLightsOff",
        "props": [
            {
                "p": "payload.start",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 730,
        "y": 100,
        "wires": [
            [
                "27c8a0dec1ed255b"
            ]
        ]
    }
]